@model HeAndSheStore.Models.Ourteam

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ourteam</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagepath)
        </dt>
        <dd class = "col-sm-10">
            <img src=@Url.Content("~/Images/"+Model.Imagepath)
                 asp-append-version=true style="border-radius : 20%;" width="100px" height="100px" />

        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empposition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empposition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emplinkedin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emplinkedin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empgmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empgmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empinstagram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empinstagram)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
